 
<!doctype html>
   <head>
   <title>Smart House</title>
   <link href="/static/style.css" rel="stylesheet" type="text/css">
   </head>
   <body>
   <div class="cornice">       
        <form method=post enctype=multipart/form-data>
          <p class="form">
         <input type="checkbox" id="Luce1" name="Luce1" value="Luce1">
		  <label for="vehicle1"> Luce Cucina</label><br>
		  <input type="checkbox" id="Luce2" name="Luce2" value="Luce2">
		  <label for="vehicle2"> Luce Salotto</label><br>
          <input type=submit value=Invia>
          </p>
        </form>
   </div>
   </body>
